* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 70%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px;
}

.box {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title-player {
    color: firebrick;
}

.title-computer {
    color: green;
}

#numero-player {
    font-size: 22px;
    color: lightseagreen;
}

#numero-computer {
    font-size: 22px;
    color: rgb(223, 64, 183);
}